<div class="contact">
    <img src="/images/icon.webp" class="icon">
    <div class="info">
        <p class="text"> {{name}} </p>
        <p class="text"> {{number}} </p>
    </div>
    <button class="remove"> X </button>
</div>
